Repository invibeme/chekin-host-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected --target=lint --fix, nx affected --target=typecheck, prettier --write

Update husky file
  .husky/pre-commit
Due: none

Add tests
  .lintstagedrc.json
  package-lock.json
  packages/core/src/__tests__/utils/formatChekinUrl.test.ts
  packages/core/src/__tests__/utils/validation.test.ts
  packages/core/src/utils/formatChekinUrl.ts
  packages/core/src/utils/packageInfo.ts
  packages/core/tsup.config.ts
Due: nx affected --target=lint --fix, nx affected --target=typecheck, prettier --write

Update ci workflow
  .github/workflows/ci.yml
Due: none

Fix route sync
  packages/core/README.md
  packages/core/sandbox.html
  packages/core/src/ChekinHostSDK.ts
  packages/core/src/__tests__/utils/formatChekinUrl.test.ts
  packages/core/src/communication/ChekinCommunicator.ts
  packages/core/src/constants/index.ts
  packages/core/src/types/index.ts
  packages/core/src/utils/ChekinLogger.ts
  packages/core/src/utils/formatChekinUrl.ts
Due: nx affected --target=lint --fix, nx affected --target=typecheck, prettier --write

Add init-route event
  packages/core/src/communication/ChekinCommunicator.ts
  packages/core/src/constants/index.ts
Due: nx affected --target=lint --fix, nx affected --target=typecheck

Make the package public
  package.json
Due: prettier --write

Update Readme files and rename packages
  CLAUDE.md
  README.md
  SPECIFICATION.md
  packages/core/README.md
  packages/core/package.json
  packages/react/README.md
  packages/react/package.json
  packages/react/src/components/ChekinHostSDKView.tsx
  packages/react/src/hooks/useHostSDKEventListener.ts
  packages/react/tsup.config.ts
  tsconfig.base.json
Due: nx affected --target=lint --fix, nx affected --target=typecheck, prettier --write

Update docs
  CLAUDE.md
  README.md
  SPECIFICATION.md
  packages/core/README.md
  packages/core/src/__tests__/utils/formatChekinUrl.test.ts
Due: nx affected --target=lint --fix, nx affected --target=typecheck, prettier --write

Update docs
  README.md
  packages/core/README.md
  packages/react/README.md
  packages/react/package.json
Due: prettier --write

Update version, add sandbox
  packages/core/combined-sandbox.html
  packages/core/package.json
  packages/core/sandbox.html
Due: prettier --write

Update sandbox and gitignore
  .gitignore
  packages/core/combined-sandbox.html
Due: prettier --write

Rename iframe title
  packages/core/src/constants/index.ts
Due: nx affected --target=lint --fix, nx affected --target=typecheck

Update the package-lock
  package-lock.json
Due: prettier --write

Fix tests
  packages/core/src/__tests__/utils/formatChekinUrl.test.ts
Due: nx affected --target=lint --fix, nx affected --target=typecheck

Fix getBaseUrl
  .DS_Store
  packages/core/src/utils/formatChekinUrl.ts
Due: nx affected --target=lint --fix, nx affected --target=typecheck

Rename Events, increase version
  packages/core/package.json
  packages/core/src/constants/index.ts
Due: nx affected --target=lint --fix, nx affected --target=typecheck, prettier --write

Update the enableLogging param
  README.md
  packages/core/README.md
  packages/core/src/ChekinHostSDK.ts
  packages/core/src/__tests__/utils/validation.test.ts
  packages/core/src/types/index.ts
  packages/core/src/utils/validation.ts
  packages/react/README.md
  packages/react/src/components/ChekinHostSDKView.tsx
Due: nx affected --target=lint --fix, nx affected --target=typecheck, prettier --write

Update version
  package.json
  packages/core/package.json
Due: prettier --write

Update README files
  MIGRATION_GUIDE.md
  packages/core/README.md
Due: prettier --write

Add note that react package is in development
  README.md
Due: prettier --write

Add new initAndRender method for compatibility
  packages/core/src/ChekinHostSDK.ts
Due: nx affected --target=lint --fix, nx affected --target=typecheck

Increase the version
  package.json
Due: prettier --write

Update documentation
  MIGRATION_GUIDE.md
  README.md
  SPECIFICATION.md
  packages/core/README.md
Due: prettier --write

Fix package paths
  packages/core/package.json
Due: prettier --write

Increase version
  packages/core/package.json
Due: prettier --write

Rename the package
  CLAUDE.md
  MIGRATION_GUIDE.md
  README.md
  packages/core/README.md
  packages/core/combined-sandbox.html
  packages/core/package.json
  packages/core/src/ChekinHostSDK.ts
  packages/react/README.md
  packages/react/package.json
  packages/react/src/components/ChekinHostSDKView.tsx
  packages/react/src/hooks/useHostSDKEventListener.ts
  packages/react/tsup.config.ts
  tsconfig.base.json
Due: nx affected --target=lint --fix, nx affected --target=typecheck, prettier --write

Update packages
  package-lock.json
  packages/core/package.json
Due: prettier --write

Fix observeContainerRemoval if id is missing
  packages/core/src/ChekinHostSDK.ts
Due: nx affected --target=lint --fix, nx affected --target=typecheck

Update version
  packages/core/package.json
Due: prettier --write

Rename ChekinSDKConfig to ChekinHostSDKConfig
  MIGRATION_GUIDE.md
  packages/core/README.md
  packages/core/src/ChekinHostSDK.ts
  packages/core/src/__tests__/utils/formatChekinUrl.test.ts
  packages/core/src/__tests__/utils/validation.test.ts
  packages/core/src/communication/ChekinCommunicator.ts
  packages/core/src/index.ts
  packages/core/src/types/index.ts
  packages/core/src/utils/ChekinLogger.ts
  packages/core/src/utils/formatChekinUrl.ts
  packages/core/src/utils/validation.ts
  packages/react/README.md
  packages/react/src/components/ChekinHostSDKView.tsx
  packages/react/src/hooks/useHostSDKEventListener.ts
Due: nx affected --target=lint --fix, nx affected --target=typecheck, prettier --write

Fix link
  packages/core/README.md
  packages/core/package.json
Due: prettier --write

Remove extra sandbox
  packages/core/combined-sandbox.html
  packages/core/sandbox.html
Due: prettier --write

Adjust the sandbox
  packages/core/sandbox.html
Due: prettier --write

Fix the main index js
  packages/core/package.json
  packages/core/sandbox.html
Due: prettier --write

Update the sandbox
  packages/core/sandbox.html
Due: prettier --write

Remove allow-modals from iframe policy
  packages/core/package.json
  packages/core/src/ChekinHostSDK.ts
Due: nx affected --target=lint --fix, nx affected --target=typecheck, prettier --write

Path conditions:
  nx affected --target=lint --fix: any of: *.{ts,tsx,js,jsx}
  nx affected --target=typecheck: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,html,css}
